{% extends 'base.html' %}
{%load static%}


{%block content%}
<div class="card" style="width: 18rem;">
  {%if post.image%}
  <img src="{{ post.image.url }}" class="card-img-top" alt="...">
  {%else%}
  <img src="{% static 'Png.png' %}" class="card-img-top" alt="...">
  {%endif%}
  <div class="card-body">
    <h5 class="card-title">{{post.title}}</h5>
    <p class="card-text">{{post.content}}</p>
    <p class="card-text">{{post.rate}}</p>
    <a href="#" class="btn btn-primary">GO FUCK YOURE SELF GIGGANIGGA</a>
  </div>
</div>
<form action="" method="post">
  {%csrf_token%}
  {{form.as_p}}
  <button type="submit">Add comment</button>
</form>
{%for comment in comments%}
  <div style="background-color: #6f94c6;" class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">{{comment.text}}</h5>
    </div>
  </div>
{%endfor%}
{%endblock%}
